video {
  width: 40vw;
  aspect-ratio: 16/9;
  margin-left: 1rem;
  margin-right: 1rem;
  background: #2c3e50;
}

h3 {
  text-align: center;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}
